
# /
/dhp*.h
/rekeymgr
/rekeytest
/getnewkeys
/rekeysrv
/age_keytab
/sqlinit.h
/aclocal.m4
/compile
/config.sub
/config.guess
/config.status
/config.log
/config.h
/config.h.in
/configure
/stamp-h1
/autom4te.cache
/missing
/mkinstalldirs
/install-sh
/depcomp
/.deps
/Makefile.in
/Makefile
/krb-rekey*.tar.gz
*~
*.o

# /lib/
/lib/arpa
/lib/.deps
/lib/Makefile
/lib/Makefile.in
/lib/alloca.h
/lib/math.h
/lib/poll.h
/lib/signal.h
/lib/stdint.h
/lib/string.h
/lib/stdlib.h
/lib/stdio.h
/lib/unistd.h
/lib/libgnu.a
/lib/sys
/lib/time.h
/lib/arg-nonnull.h
/lib/link-warning.h
/lib/wchar.h
/lib/netdb.h
/lib/warn-on-use.h
/lib/c++defs.h
/age_keytab.8
/getnewkeys.8
/getnewkeys.8.in
/rekeymgr.1
/rekeymgr.1.in
/rekeysrv.8
/rekeysrv.8.in
