Makefile.in
Makefile
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
/stamp-h1
.deps
*.a
*.o
sqlinit.h
dhp7680.h
age_keytab
age_keytab.8
getnewkeys
getnewkeys.8
getnewkeys.8.in
rekeymgr
rekeymgr.1
rekeymgr.1.in
rekeysrv
rekeysrv.8
rekeysrv.8.in
rekeytest
lib/alloca.h
lib/arg-nonnull.h
lib/arpa/inet.h
lib/c++defs.h
lib/math.h
lib/netdb.h
lib/poll.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/select.h
lib/sys/socket.h
lib/sys/time.h
lib/sys/uio.h
lib/time.h
lib/unistd.h
lib/warn-on-use.h
lib/wchar.h
